@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
@import url( https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
body {
  background: #1a1a1a;
  font-family: 'Roboto';
}
a{
  color:#ffffff;
}
a:hover{
  color:red;
}
.container{
    margin:0 auto;
    width:500px;
    height:500px;
    background-color:#e3e3e3;
    opacity: 0.9;
}
.header-icon {
  width:80px;
  height:80px;
  padding-left:10px;
  background-color:#39C4C7;
  float:left;
  
}
.header-text {
  position:relative;
  height:80px;
  text-align:center;
  overflow:hidden;
  color:#ffffff;
  font-size:30px;
  background-color:black;
  font-weight:bold;
}
.header-text span {
  line-height:2.6;
  padding-right:50px;
}


.content-body {
  border: 1px solid #efefef;
  margin: 10px 10px 10px 10px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; }
}

.content-body h1 {

  /* padding-left:10px; */
}
.show {
  display:block; 
}
#login {
  font-size:25px;
  padding:5px 0 5px 5px;
  height:240px;
}
.form-action {
    padding: 0px 20px;
    position: relative;
}

.form-action {
    font-size: 42px;
    padding-bottom: 10px;
}

form {
    padding-right: 20px ;
}
form input[type="text"], form input[type="password"] {
    width: 96%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    background: none repeat scroll 0% 0% #ffffff ;
    border: 1px solid #e3e3e3;
    color: rgb(231, 76, 60);
    outline: medium none;
}
.facebook a{
  float: left;
 width: 155px;
 height: auto;
 padding: 10px;
 color: white;
 text-align: left;
 font-size: 15px;
  border-bottom: 2px solid rgb(32, 109, 165);
 text-shadow: 1px 1px 1px rgb(32, 109, 165);
  background: #3B5998;
  font-weight:bold;
}
.twitter a{
  float: right;
  width: 145px;
  height: auto;
  padding: 10px;
  color: white;
  text-align: left;
  font-size: 15px;
  border-bottom: 2px solid rgb(32, 109, 165);
  text-shadow: 1px 1px 1px rgb(32, 109, 165);
  background:  #1DA1F2;
  font-weight:bold;
  
}
.twitter a:hover{background-color: #2886cc; cursor: pointer;}
.facebook a:hover{ background-color: #206da5; cursor: pointer;}
hr {
  border:1px solid grey;
}
.login{
  width: auto; 
  height: auto; 
  padding: 10px; 
  text-align: center; 
  font-size: 20px; 
  color: white; 
  text-shadow: 1px 1px 1px #c0392b;
  box-shadow: 0px 3px 0px #c0392b;
  margin-top: 10PX;
  background-color: #4CAF50;
  border:0px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  font-weight:bold;
  }

.login:hover {
  background-color: #c0392b;
  cursor: pointer;
}
.fa {
  verticle-align:30;
  text-align:center;
  margin-top:10px;
  padding-right:10px;
}

.text{
  float: left;
}
.signup{
  margin: 20px;
  float: right;
  width: auto;
  height: auto;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 15px;
  border-bottom: 2px solid rgb(32, 109, 165);
  text-shadow: 1px 1px 1px rgb(32, 109, 165);
  background:  #18bc9c;
  font-weight:bold;
}
.signup :hover{
  cursor: pointer;
  background:  blue;
}
.account{
  margin: 20px;
  float: left;
  width: auto;
  height: auto;
  padding: 10px;
  color: white;
  color: grey;
  text-align: center;
  font-size: 15px;
  background:  transparent;
  font-weight:bold;
}
.rememberme{
  margin: 20px;
  float: left;
  width: auto;
  height: auto;
  padding: 10px;
  color: white;
  color: grey;
  text-align: center;
  font-size: 15px;
  background:  transparent;
  font-weight:bold;
}
.txt{
  font-weight:bold;
  font-size: 15px;
  color: grey;
  text-align: center;
}
.forget{
  font-weight:bold;
  font-size: 15px;
  color: grey;
  float: right;
  text-align: center;
}
.forget a{
  color:grey;
  text-decoration: none;
}
.forget a:hover{
  color:black;
  cursor: pointer;
}